<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.ssm.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wjy.ssm.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="pwd_salt" jdbcType="VARCHAR" property="pwdSalt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="emial" jdbcType="VARCHAR" property="emial" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="delete_by" jdbcType="VARCHAR" property="deleteBy" />
    <result column="create_dt" jdbcType="VARCHAR" property="createDt" />
    <result column="update_dt" jdbcType="VARCHAR" property="updateDt" />
    <result column="delete_dt" jdbcType="VARCHAR" property="deleteDt" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, gender, age, account, pwd, pwd_salt, phone, emial, id_card, address, 
    remark, create_by, update_by, delete_by, create_dt, update_dt, delete_dt
  </sql>

  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from t_user
  where account = #{account,jdbcType=VARCHAR}
</select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wjy.ssm.domain.User">
    insert into t_user (user_id, user_name, gender, 
      age, account, pwd, 
      pwd_salt, phone, emial, 
      id_card, address, remark, 
      create_by, update_by, delete_by, 
      create_dt, update_dt, delete_dt
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{pwdSalt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{emial,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{deleteBy,jdbcType=VARCHAR}, 
      #{createDt,jdbcType=VARCHAR}, #{updateDt,jdbcType=VARCHAR}, #{deleteDt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wjy.ssm.domain.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="pwdSalt != null">
        pwd_salt,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="emial != null">
        emial,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="deleteBy != null">
        delete_by,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="updateDt != null">
        update_dt,
      </if>
      <if test="deleteDt != null">
        delete_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdSalt != null">
        #{pwdSalt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        #{emial,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteBy != null">
        #{deleteBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        #{updateDt,jdbcType=VARCHAR},
      </if>
      <if test="deleteDt != null">
        #{deleteDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjy.ssm.domain.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pwdSalt != null">
        pwd_salt = #{pwdSalt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        emial = #{emial,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteBy != null">
        delete_by = #{deleteBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=VARCHAR},
      </if>
      <if test="deleteDt != null">
        delete_dt = #{deleteDt,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjy.ssm.domain.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      pwd_salt = #{pwdSalt,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      emial = #{emial,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      delete_by = #{deleteBy,jdbcType=VARCHAR},
      create_dt = #{createDt,jdbcType=VARCHAR},
      update_dt = #{updateDt,jdbcType=VARCHAR},
      delete_dt = #{deleteDt,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>